/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #8a6d3b;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #333;
  text-align: left;
  font-size: 1.3em;
  font-family: 'PT Sans', sans-serif;
}

label {
  font-weight: 400;
}

h1 {
 font-family: 'PT Sans', sans-serif; 
 font-weight: 500;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url(../img/stockvault-blue-sky-and-clouds132181.jpg) no-repeat center center;
  background-size: cover;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.intro-block p {
  font-size: 1.5em;
}

.intro-block ul {
  font-size: 1.2em;
  line-height:1.2em;

}

.intro-block ul li {
  margin-top: .5em;
  margin-left: 0px;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #333; /* IE8 proofing */
}

.well, .panel, .form-control {
  border-radius: 0px; /* IE8 proofing */
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .page-title {
    margin-top:60px;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .site-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}
